.baseRoomActionsWrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: space-around;
  align-items: center;
}

.joinRoomWrapper,
.createRoomWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    div > label,
    div > input {
      padding: 0.5rem;
    }

    & > * {
      padding: 0.5rem;
    }
    button {
      width: 100%;
    }
  }
}
