.questionsListWrapper {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  min-height: 95%;
  flex: 1 0 90%;

  .questionListHeaderWrapper,
  .questionsListData {
    justify-content: space-between;
    align-items: center;
    .questionName {
      max-width: 60%;
      min-width: 60%;
    }
    .questionCategory {
      max-width: 25%;
      min-width: 25%;
    }
  }

  .questionTableDataWrapper {
    max-height: inherit;
    overflow-x: hidden;

    & > div {
      max-height: inherit;
    }
  }

  .questionListHeaderWrapper {
    color: rgb(var(--info-second-rgb));
    display: flex;
    border-bottom: 1px solid rgb(var(--info-second-rgb));
    margin-bottom: 0.2rem;
    position: sticky;
    top: 0;
    background: var(--primary-glow);
    background-color: rgb(var(--primary-second-rgb));
  }
  .questionsListData {
    display: flex;
    border: 1px solid rgb(var(--secondary-second-rgb));
    padding: 0.2rem;
  }
}

.questionFormWrapper {
  & > div {
    display: flex;
    flex-direction: column;
  }

  .answersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 25dvh;
    overflow-x: hidden;
    min-width: 100%;

    & > div {
      margin-top: 0.1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    input {
      width: 50%;
    }
    button {
      width: 20%;
    }
  }
}
