.homeContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  & > button {
    font-size: 1.2em;
  }

  & > * {
    flex-grow: 1;
    margin: 0.1rem;
  }

  .visitRoomWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
