.menuLinksList {
  $radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;

  li {
    align-items: center;
    border-radius: $radius;
    min-width: 20%;
    opacity: 0.9;
    background-color: rgb(var(--primary-first-rgb));

    button,
    a {
      width: 100%;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: center;
      border-radius: $radius;
      font-size: 1rem;
    }

    button {
      border-radius: $radius;
    }
    &.active {
      background-color: rgb(var(--success-first-rgb));
    }

    &:not(.active):hover {
      a {
        color: rgb(var(--primary-first-rgb));
      }
    }
  }
}
